
html {
	font-size: 10px; /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
	font-family: "Open Sans", sans-serif; /* Este debe ser el resto del resultado que obtuviste de Google fonts */
	background-color: #000000;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #000000;
	font-family: 'Open Sans', sans-serif;
}
a {
	text-decoration: none;
}
.contenedor {
	width: 90%;
	max-width: 800px;
	margin: auto;
}
.container{
	color: #FFFFFF;
}
.titulo{
	color:#FFFFFF;
	text-align: center;
	font-size-adjust: 2;
}
.yoimagen{
	margin-top: -150px;
	border: 2px solid #ddd;
}
header {
	padding: 40px 0;
}
header .logo {
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 40px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}
header .logo p {
	color: #9B9B9B;
}
header .categorias {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
header .categorias a {
	color: #9B9B9B;
	margin: 10px 20px;
	font-size: 18px;
	font-weight: 700;
}
header .categorias a.activo {
	color: #111;
}
/* ------------------------- */
/* Pie de página. */
/* ------------------------- */
footer .redes-sociales {
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 20px;
	flex-wrap: wrap;
}
footer .redes-sociales a {
	display: block;
	width: 60px;
	height: 60px;
	background: #000;
	color: #000000;
	margin: 20px;
	text-align: center;
	border-radius: 100px;
	transition: .3s ease all;
}
footer .redes-sociales .twitter {background: #FFFFFF;}
footer .redes-sociales .facebook {background: #FFFFFF;}
footer .redes-sociales .instagram {background: #FFFFFF;}
footer .redes-sociales a i {
	font-size: 20px;
	line-height: 60px;
}
footer .contenedor-icono:hover a {
	animation: icono .5s ease;
}
@keyframes icono {
	from {
		transform: rotate3d(0,0,0,0);
	}
	to {
		transform: rotate3d(0,1,0, 360deg);
	}
}
footer .creado-por {
	margin-bottom: 40px;
	text-align: center;
	font-size: 14px;
	color: #c13584;
}
footer .creado-por a {color: #000;}
footer .creado-por a:hover {text-decoration: underline;}
.asd {
	width: 90%;
	max-width: 800px;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
};
